SUPABASE_URL=
SUPABASE_KEY=
RECA_ENABLE_TEST_FILL=0
RECA_TEST_FILL_LOGIN=testaaron
INSTALLER_ASSET_NAME=RECA_INCLUSION_LABORAL_Setup.exe
DICTATION_FUNCTION_NAME=dictate-transcribe
DICTATION_LANGUAGE=es
USAGE_EXEMPT_LOGINS=
GOOGLE_SERVICE_ACCOUNT_FILE=
GOOGLE_SHEETS_DEFAULT_SPREADSHEET_ID=
GOOGLE_SHEETS_EVALUACION_ACCESIBILIDAD_TEMPLATE_ID=
GOOGLE_SHEETS_SEGUIMIENTOS_TEMPLATE_ID=
GOOGLE_SHEETS_OFFICIAL_DICTIONARY_SPREADSHEET_ID=
SEGUIMIENTOS_SHARED_ROOT=
