SUPABASE_URL=
SUPABASE_KEY=
GITHUB_REPO_OWNER=
GITHUB_REPO_NAME=
INSTALLER_ASSET_NAME=RECA_INCLUSION_LABORAL_Setup.exe
DICTATION_FUNCTION_NAME=dictate-transcribe
DICTATION_LANGUAGE=es
USAGE_EXEMPT_LOGINS=
GOOGLE_SERVICE_ACCOUNT_FILE=
GOOGLE_SHEETS_DEFAULT_SPREADSHEET_ID=
GOOGLE_SHEETS_EVALUACION_ACCESIBILIDAD_TEMPLATE_ID=
GOOGLE_SHEETS_SEGUIMIENTOS_TEMPLATE_ID=
GOOGLE_SHEETS_CONDICIONES_VACANTE_DICTIONARY_ID=
SEGUIMIENTOS_SHARED_ROOT=
